{% load static %}

<!doctype html>
<html lang="en">
<head> 
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
<link rel="stylesheet" type="text/css" href="{% static 'scavenger/style.css' %}">
 
</head>

{% block content %}
<div class="container">
    <div class="login">
      <h1 class="text-black text-uppercase text-center my-4">Login to Quest
          <img src="https://cdn.clipart.email/fec5d675df1c0a4bc31fac155efad05a_cute-duck-clipart-6-clipart-station_610-612.jpeg" alt="secretary bird" width="50" height="50"></img>
      </h1>
      <form method="post" action="">
          {% csrf_token %}
          {{ form.as_p }}  
          <button id="login-button" class="btn btn-primary" type="submit">Login</button>    
      </form>
    </div>
     </div>
  {% endblock %}
</html>



